<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    
    {{!-- INTRO--}}
    <div class="pure-g">
      <div class="center pure-u-1-2">  
       <h1>Simpelt program til at primtalsfaktorere</h1>
      </div>
    </div>
    
    {{!-- FORM TO INSERT NUMBER --}}
    <div class="pure-g">
      <div class="center pure-u-1-2">
        <form action="/number/" method="post" class="pure-form">
          <fieldset>
            <legend style="text-align: center;">Insert naturligt heltal</legend>
          </fieldset>
          
          <input type="number" placeholder="Heltal" name="number">
          <input type="submit" value="Find faktore" class="pure-button pure-button-primary">

        </form>
      </div>
    </div>



    <div class="pure-g">
      <div class="pure-u-1-2 center">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
